.text {
	text-align: center;
	font-size: 15px;
	margin: 45px;
}

.buttonContainer {
	color: #fff;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7c0404;
	font-size: 16px;
	width: 160px;
	height: 40px;
	border-radius: 4px;
	margin: 38px;
}

.mainBtnContainer {
	display: flex;
	justify-content: center;
}

.mainBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7c0404;
	font-size: 16px;
	width: 50%;
	height: 40px;
}

.gradeBtnContainer {
	display: flex;
	justify-content: center;
}
